MS_ACCOUNTS=custom

MS_CUSTOM_CLIENT_ID=your_client_id
MS_CUSTOM_CLIENT_SECRET=your_client_secret
MS_CUSTOM_TENANT_ID=your_tenant_id
MS_CUSTOM_USERNAME=service@company.com
MS_CUSTOM_PASSWORD=your_password
MS_CUSTOM_DEFAULT_DRIVE_ID=your_drive_id   # optional
